@use "blocks/variables" as*;

.hero {
  display: flex;
  margin-bottom: 80px;
}

.hero__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 auto;
  margin-bottom: 55px;
  max-width: 464px;
  text-align: center;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}
