@use "./blocks/variables" as*;

.slider {
  display: flex;
  align-items: center;
  transition: all 1s;
}

.slider__item-chosen {
  position: relative;
  margin-right: 75px;

  .slider__item-circle {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 312px;
    height: 312px;
    background-color: $subcatalog-hover;
    border-radius: 100%;
    z-index: -1;
  }

  .slider__image {
    width: 306px;
    height: 507px;
  }
}


.slider__item-chosen .slider__item {
  opacity: 1;
  margin: 0;

  &::after {
    display: none;
  }
}

.slider__item-chosen-wrapper {
  position: relative;
}

.slider__item {
  position: relative;
  margin-right: 75px;
  opacity: 0.4;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: $subcatalog-hover;
    z-index: -1;
  }
}

.slider__image-wrapper {
  position: relative;
}

.slider__image {
  width: 66px;
  height: 150px;
}

.slider__controls {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
}

.slider-button {
  width: 38px;
  height: 38px;
  background-color: $white-regular-color;
  border: none;
  border-radius: 26px;
  cursor: pointer;
  outline: 2px solid $white;
  color: $white;

  &:hover {
    background-color: $white;
  }

  &:hover .slider__controls-icon {
    fill: $black;
  }

  &:active {
    background-color: $white-regular-color;
  }

  &:active .slider__controls-icon {
    fill: $black;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:focus .slider__controls-icon {
    fill: $black;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.slider__controls-icon {
  position: relative;
  top: 3px;
  fill: $white;

  &--next {
    rotate: 180deg;
  }
}
