@use "./fonts" as*;
@use "./variables" as*;

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: $inter;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $light-black;
  transition: 1.3s;

  &--theme-pink {
    background-color: $pink-background;
  }

  &--theme-blue {
    background-color: $blue-background;
  }

  &--theme-yellow {
    background-color: $yellow-background;
  }
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}
