// font-family

$inter: "inter", arial, sans-serif;

// font-color

$black: #2d3440;

$light-black: #565c66;

$white: #fcfcfc;

$gray: #b9b9b9;

// background-color

$pink-background: #feafc3;

$blue-background: #69a9ff;

$yellow-background: #fcc850;

$promo-background: #ff7799;

$subcatalog-hover: #ffcbd8;

// buttons-navigation

$white-regular-color: rgba(252, 252, 252, 0.3);

$white-hover-color: rgba(252, 252, 252, 0.5);

$chosen-button-color: #ff4a78;

$focus-color: #000000;

//viewports

$desktop-width: 1170px;

$tablet-width: 768px;

$mobile-width-only: 320px;
