// font-family

$inter: "inter", arial, sans-serif;

// font-color

$black: #2d3440;

$light-black: #565c66;

$white: #fcfcfc;

$gray: #b9b9b9;


// background-color

$pink-background: #feafc3;

$blue-background: #69a9ff;

$yellow-background: #fcc850;

$promo-background: #ff7799;

$subcatalog-hover: #ffcbd8;

$gallery-blue-background: #9fc8ff;

$gallery-yellow-background: #fcdc92;

// buttons-navigation

$white-regular-color: rgba(252, 252, 252, 0.3);

$white-hover-color: rgba(252, 252, 252, 0.5);

$chosen-button-color: #ff4a78;

$focus-color: #000000;

// regular-button

$outline-color: rgba(255, 47, 100, 0.3);

$hover-outline-color: #ff2f64;

$disabled-outline-color:  rgba(185, 185, 185, 0.3);

$disabled-text-color: #565c66;

//link-button

$white-outline-color: rgba(252, 252, 252, 0.4);

$box-shadow-color: rgba(45, 52, 64, 0.1);

$hover-background-color: rgba(252, 252, 252, 0.4);

$hover-box-shadow: rgba(133, 133, 133, 0.15);

// basket-button

$disabled-color: #c4c4c4;

//range

$range-scale-background: rgba(86, 92, 102, 0.3);

// field

$invalid-color: #ea5454;

$disabled-color: #e7e7e7;

$white-background-color: #ffffff;

$valid-color: #00e484;

// modal

$modal-background-color: rgba(45, 52, 64, 0.3);

$box-shadow-color: rgba(45, 52, 64, 0.12);

//viewports

$desktop-width: 1365px;

$tablet-width: 768px;

$mobile-width-only: 320px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
