// font-family

$inter: "inter", arial, sans-serif;

// font-color

$black: #2d3440;

$white: #fcfcfc;

$gray: #b9b9b9;

// background-color

$strawberry-background: #feafc3;

$banana-background: #69a9ff;

$marshmallow-background: #fcc850;

$promo-background: #ff7799;

// buttons-navigation

$white-regular-color: rgba(252, 252, 252, 0.3);

$white-hover-color: rgba(252, 252, 252, 0.5);

$chosen-button-color: #ff4a78;

//viewports

$tablet-width: 768px;

$desktop-width: 1440px;

$mobile-width-only: 320px;
