@use "./blocks/variables" as*;

.basket-button {
  position: relative;
  bottom: 2px;
  left: 1px;
  margin-left: auto;
  padding: 9px;
  background-color: $hover-outline-color;
  border-radius: 35px;
  max-width: 32px;
  max-height: 32px;
  color: $white;

  &:hover {
    color: $black;
    outline: 2px solid $hover-outline-color;
    background-color: $white;
  }

  &:focus {
    background-color: $hover-outline-color;
    color: $white;
    outline: 1px solid $black;
    outline-offset: -1px;
  }

  &:active {
    color: $black;
    background-color: $subcatalog-hover;
    outline: 2px solid $hover-outline-color;
  }

  &--disabled {
    background-color: $gray;
    color: $disabled-color;
  }
}
